shuffle-progress
{
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index:100000000000;
  background-color:lightyellow;
  display:none;
  font-weight:bold;
  font-family:"Arial";
  color:black;
  padding:10px;
  font-size:15px;
  text-transform: none;
}
