shuffle-progress
{
  position:fixed;
  top:0px;
  left:0px;
  z-index:100000000000;
  font-weight:bold;
  font-family:"Arial";
  padding:5px;
  font-size:15px;
  text-transform: none;
  background-color:yellow;
  color:black;
  visibility: hidden;
}
